/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
  position: fixed;
  margin: 0px;
  padding: 0px;
}

.topnav li {
  display: inline;
  float: right;
  padding: 14px 16px;
  margin: 0px;
}

.topnav ul {
    list-style-type: none;
    text-align: right;
    padding: 0px;
  padding-right: 2%;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav li:hover {
  background-color: #ddd;
  color: black;
}
